<!DOCTYPE html>
<html lang="kor">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JOOCHA!</title>
  <link rel="icon" href="../images/car.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="../stylesheets/login.css">
</head>

<body>
  <section>
    <section class="inside">
    <div class="inner">
      <div class="logo">
        <p>LOGIN PAGE</p>
        <img src="../images/LOGO.png" alt="logo">
        <p class="sentence">Please enter your ID and Password</p>
      </div>
      <div class="id">
        <input type="text" placeholder="ID">
      </div>
      <div class="pw">
        <input type="password" placeholder="Password">
      </div>
      <div class="number">
        <input type="text" placeholder="Enter your Car Number">
      </div>
      <button class="login" onclick="location.href='main'";>LOGIN</button>
    </div>
    <div class="inner2">
      <p>HELLO!</p>
      <p class="joocha" data-split="WE ARE &nbsp; &nbsp; JOOCHA-!">WE ARE JOOCHA-!</p>
      <img src="../images/car.png" alt="car">
    </div>
  </section>
  </section>
</body>
</html>
