<!DOCTYPE html>
<html lang="kor">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JOOCHA!</title>
  <link rel="icon" href="../images/car.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="./stylesheets/my_page.css">
</head>
<body>

  <!-- header -->
  <header>
    <div class="inner">
      <a href="/main" class="logo">
        <img src="./images/LOGO.png" alt="logo">
      </a>
      <div class="list">
        <ul class="menu">
            <li><a href="./reservation.html" data-text="RESERVATION">RESERVATION</a></li>
            <li><a href="platform.html" data-text="OUR PLATFORM">OUR PLATFORM</a></li>
            <li><a href="./payment.html" data-text="PAYMENT">PAYMENT</a></li>
        </ul>
        <a href="/my_page" class="my_page">My Page</a>
      </div>
    </div>
  </header>

  <!-- section -->

  <section>
    <div class="inner">
      <div class="box1">
        <img src="../images/car.png" alt="car" class="car">
        <div class="number">48부9898</div>
      </div>
      <div class="box2">
        <ul class="pay_information">
          <li>
          <ul class="start">
            <li>START TIME   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </li>
            &nbsp;&nbsp;&nbsp;
            <p>00:00</p>
          </ul>
         </li>
         <li>
          <ul class="time">
            <li>PARKING TIME   &nbsp;&nbsp;  </li>
            &nbsp;&nbsp;&nbsp;
            <p>0시간 0분</p>
          </ul>
        </li>
        <li>
          <ul class="fee">
            <li>FEE  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
            &nbsp;&nbsp;&nbsp;
            <p>0원</p>
          </ul>
        </li>
        </ul>
        <a href="payment.html"><button class="check">CHECK PARKING</button></a>  <!-- 누르면 버튼 문구가 already check으로 바뀌어야 함 -->
      </div>
    </div>
  </section>

</body>
</html>