<!DOCTYPE html>
<html lang="kor">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JOOCHA!</title>
  <link rel="icon" href="../images/car.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="../css/reservation.css">
</head>
<body>

  <!-- header -->
  <header>
    <div class="inner">
      <a href="main.html" class="logo">
        <img src="../images/LOGO.png" alt="logo">
      </a>
      <div class="list">
        <ul class="menu">
            <li><a href="reservation.html" data-text="RESERVATION">RESERVATION</a></li>
            <li><a href="platform.html" data-text="OUR PLATFORM">OUR PLATFORM</a></li>
            <li><a href="payment.html" data-text="PAYMENT">PAYMENT</a></li>
        </ul>
        <a href="my_page.html" class="my_page">My Page</a>
      </div>
    </div>
  </header>

  <!-- section1 -->
  <section1>
    <div class="inner">
      <p class="text">Please enter the place you want to park!</p>
      <div class="search">
        <input type="text" class="search">
        <a href="./reservation2.html"><img src="../images/search.png" alt="search"></a>
      </div>
    </div>
  </section1>

  <!-- section2 -->
  <section2>
    <div class="rectangle"></div>
  </section2>

  