body {
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.4;
  font-family: 'Oswald', sans-serif;
  background-color: beige;
}
img{
  display: block;
}
a{
  text-decoration: none;
}

/* header */

header{  
}

header .inner{
  height: 90px;
  margin: 0 auto;
  position :relative;
}

header .logo{
  height: 65px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 40px;
  margin: auto 0;
}

header .list{
  display :flex;
  position: absolute;
  width: 650px;
  top:0px;
  bottom:0;
  right:0px;
  padding: 0 60px;
  margin: auto;

}

header .list ul.menu{
  background-color:#FCDC9F;
  position:relative;
  display: flex;
  margin:auto;
  top:0;
  bottom:0;
  border-radius: 40px;
}

header .list ul.menu li{
  border-radius: 40px;
  position:relative;
  margin:auto;
  top:0;
  bottom:0;
}

header .list ul.menu li a{
  font-size: 20px;
  padding: 16px 25px;
  display: block;
  color: #D12A14;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s;
}

header .list ul.menu li a:hover{
  color:black;
}

header .list a.my_page{
  text-align: center;
  background-color:white;
  color: #D12A14;
  font-weight:bold;
  font-size:20px;
  display:block;
  padding: 16px 25px;
  position: relative;
  width: 100px;
  height:30px;
  right: 0;
  margin: auto;
  border-radius:40px;
}

/* section1 */

section1{
}

section1 .inner{
  height:200px;
  position: relative;

}

section1 .inner p{
  font-weight: bold;
  color:#D12A14;
  position: absolute;
  font-size:30px;
  text-align: center;
  width:500px;
  height:50px;
  top:10px;
  left:0;
  right:0;
  margin:auto;
}

section1 div.search{
  height:400px;
  position: relative;
  margin:auto;
  display: flex;

}

section1 input.search{
  border-style: solid;
  border-radius: 40px;
  border-width: 0;
  font-family: 'Jua', sans-serif;
  font-size:20px;
  display: block;
  width:700px;
  height:60px;
  padding: 0 40px;
  position:absolute;
  margin: auto;
  left:0;
  right:0;
  top:80px;
}

section1 input.search:focus{
  outline: none;
}

section1 div.search img{
  width:60px;
  height:60px;
  padding:0 16px;
  position:absolute;
  margin: auto;
  right: 260px;
  top:80px;

}

/* section2 */

section2{
  position: relative;
  bottom:0;
}

section2 div.rectangle{
  background-color:#FCDC9F;
  height:500px;
  bottom:0;
  border-top-left-radius: 1000%;
  border-top-right-radius: 1000%;
}

/* parking1 */

section2 .parking1{
  border-style: solid;
  border-color:black;
  border-width:  3px 0  3px 0;
  margin:auto;
  position: relative;
  font-size: 20px;
  height:100px;
  width:600px;
  top:70px;
}

section2 .parking1 .title{
  
  position:relative;
  display: flex;

}

section2 .parking1 .name{
  background-color:beige;
  padding:3px 10px;
  border-radius: 40px;
  color:#D12A14;
  font-weight: bolder;
  margin:6px 7px;

}

section2 .parking1 .seat{
  font-family: 'Jua', sans-serif;
  margin : 12px  7px;

}

section2 .parking1 .information{
  position:relative;
  display:flex;
  margin:10px 6px 

}

section2 .parking1 .address{
  font-family: 'Jua', sans-serif;
  margin: 0 6px;
}

section2 .parking1 button{
  background-color: white;
  color:#D12A14;
  padding:3px 10px;
  border-radius: 40px;
  border-width: 0;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  position:absolute;
  right: 10px;
  bottom: 3px;
  transition: all 0.2s;

}

section2 .parking1 button:hover{
  color:black;
  cursor: pointer;
}

/* paring2 */

section2 .parking2{
  border-style: solid;
  border-color:black;
  border-width:  0px 0  3px 0;
  margin:auto;
  position: relative;
  font-size: 20px;
  height:100px;
  width:600px;
  top:70px;
}

section2 .parking2 .title{
  
  position:relative;
  display: flex;

}

section2 .parking2 .name{
  background-color:beige;
  padding:3px 10px;
  border-radius: 40px;
  color:#D12A14;
  font-weight: bolder;
  margin:6px 7px;

}

section2 .parking2 .seat{
  font-family: 'Jua', sans-serif;
  margin : 12px  7px;

}

section2 .parking2 .information{
  position:relative;
  display:flex;
  margin:10px 6px 

}

section2 .parking2 .address{
  font-family: 'Jua', sans-serif;
  margin: 0 6px;
}

section2 .parking2 button{
  background-color: white;
  color:#D12A14;
  padding:3px 10px;
  border-radius: 40px;
  border-width: 0;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  position:absolute;
  right: 10px;
  bottom: 3px;
  transition: all 0.2s;

}

section2 .parking2 button:hover{
  color:black;
  cursor: pointer;
}

/* paring3 */

section2 .parking3{
  border-style: solid;
  border-color:black;
  border-width:  0px 0  3px 0;
  margin:auto;
  position: relative;
  font-size: 20px;
  height:100px;
  width:600px;
  top:70px;
}

section2 .parking3 .title{
  
  position:relative;
  display: flex;

}

section2 .parking3 .name{
  background-color:beige;
  padding:3px 10px;
  border-radius: 40px;
  color:#D12A14;
  font-weight: bolder;
  margin:6px 7px;

}

section2 .parking3 .seat{
  font-family: 'Jua', sans-serif;
  margin : 12px  7px;

}

section2 .parking3 .information{
  position:relative;
  display:flex;
  margin:10px 6px 

}

section2 .parking3 .address{
  font-family: 'Jua', sans-serif;
  margin: 0 6px;
}

section2 .parking3 button{
  background-color: white;
  color:#D12A14;
  padding:3px 10px;
  border-radius: 40px;
  border-width: 0;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  position:absolute;
  right: 10px;
  bottom: 3px;
  transition: all 0.2s;

}

section2 .parking3 button:hover{
  color:black;
  cursor: pointer;
}